body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
}

.dogImg{
  width: 200px;
  height: 200px;
  --bs-border-radius: 27px;
  margin: 2vh;
}

  /*Navbar*/
.dogImg{
  width: 200px;
  height: 200px;
  --bs-border-radius: 27px;
  margin: 2vh;
}

#log {
  max-width: 23vh;
  margin-top: -9px;
  margin-left: 5%;
}

.navbar-expand-lg {
  background-color: #fcfcfc; 
  box-shadow: 0 10px 14px -7px #5b5b5f;
  height: 57px;
  
}

.navbar-expand-lg .navbar-collapse {
  font-family: 'Berkshire Swash', cursive;
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color:#ACD9B2 ;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem;
}

/*Home*/
.home{
  justify-content: center;
}

.dogs{
  width: 77vh;
  margin-top: 7vh;
  margin-left: 38vh;
}

h2{
  font-family: 'Berkshire Swash', cursive;
  color: #ACD9B2;
  margin: 15vh 10vh -5vh;
  font-size: 2.1rem;
}

/*Select*/
.form-select{
  font-family: 'Berkshire Swash', cursive;
  color: #ACD9B2;
  width: 62vh;
  margin: 13vh 47vh;
  border-block-color: #ACD9B2;
}






